results/geco_sim/bma_5dup_5dist.Rdata filter=lfs diff=lfs merge=lfs -text
results/geco_sim/bma_5dup_10dist.Rdata filter=lfs diff=lfs merge=lfs -text
results/geco_sim/bma_5dup_15dist.Rdata filter=lfs diff=lfs merge=lfs -text
